<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- ================= Favicon ================== -->
        <!-- Standard -->
        <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
        <!-- Retina iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
        <!-- Retina iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
        <!-- Standard iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
        <!-- Standard iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
        <!-- Styles -->
        <link href="{{ asset('template/css/lib/calendar2/pignose.calendar.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lib/chartist/chartist.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lib/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lib/themify-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lib/owl.carousel.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('template/css/lib/owl.theme.default.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('template/css/lib/weather-icons.css') }}" rel="stylesheet" />
        <link href="{{ asset('template/css/lib/menubar/sidebar.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lib/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/lib/helper.css') }}" rel="stylesheet">
        <link href="{{ asset('template/css/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="{{path('accueil')}}">
                        <span>APP_STOCK</span></a>
                        <img class="mt-2 logo" src="{{asset('template/images/stock.jpg')}}" alt="" /> 
                    </div>
            
                    <li class="label mt-1 text-white">DASHBOARD</li>
                    <hr class="bg-white">

                    {# Gestion utilisateurs #}
                    <li class="mt-3"><a class="sidebar-sub-toggle"><i class="ti-user"></i> Gestion des utilisateurs <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{path('app_register')}}">Ajout utilisateur</a>
                            </li>
                            <li>
                                <a href="{{path('gesutilisateur')}}">Liste utilisateurs</a>
                            </li>
                            {% else %}
                                <label class="mt-2 offset-2 text-center">Option vérouillée</label>
                            {% endif %}
                        </ul>
                    </li>
                    {# END Gestion utilisateurs #}
                   
                   {# Gestion categories #}
                    <li class="mt-3"><a class="sidebar-sub-toggle"><i class="ti-view-list-alt"></i> Gestion des catégories <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li>
                            {% if is_granted('ROLE_GERANT') %}
                                <a href="{{path('gescategorie')}}">Ajout/Liste Catégorie</a>
                            {% else %}
                                <label class="mt-2 offset-2 text-center">Option vérouillée</label>
                            {% endif %}
                            </li>
                        </ul>
                    </li>
                    {# END Gestion categorie #}

                    {# Gestion produits #}
                    <li class="mt-3"><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Gestion des produits <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li>
                            {% if is_granted('ROLE_GERANT') %}
                                <a href="{{path('gesproduit')}}">Ajout/Liste Produit</a>
                            {% else %}
                                <label class="mt-2 offset-2 text-center">Option vérouillée</label>
                            {% endif %}
                            </li>
                        </ul>
                    </li>
                    {# END Gestion produit #}
                    
                    {# Gestion entrees #}
                    <li class="mt-3"><a class="sidebar-sub-toggle"><i class="ti-map"></i> Gestion des entrées <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li>
                            {% if is_granted('ROLE_GESSTOCK') %}
                                <a href="{{path('gesentree')}}">Entrer/lister Produit</a>
                            {% else %}
                                <label class="mt-2 offset-2 text-center">Option vérouillée</label>
                            {% endif %}
                            </li>
                        </ul>
                    </li>
                    {# END Gestion entree #}

                    {# Gestion sortie #}
                    <li class="mt-3"><a class="sidebar-sub-toggle"><i class="ti-target"></i> Gestion des sorties <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li>
                            {% if is_granted('ROLE_VENDEUR') %}
                                <a href="{{path('gessortie')}}">Sortir/lister Produit</a>
                            {% else %}
                                <label class="mt-2 offset-2 text-center">Option vérouillée</label>
                            {% endif %} 
                            </li>
                        </ul>
                    </li>
                    {# END Gestion sortie #}

                    {# <li><a class="sidebar-sub-toggle"><i class="ti-heart"></i> Icons <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="font-themify.html">Themify</a></li>
                        </ul>
                    </li> #}
                    
                    <li class="mt-3"><a href="{{ path('app_logout') }}"><i class="ti-close"></i> Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    {# EN TETE #}
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <i class="ti-bell"></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">0 notification</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <i class="ti-email"></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">0 message</span>
                                        <a href="email.html">
                                            <i class="ti-pencil-alt pull-right"></i>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">
                                    {{ app.user.prenom }} {{ app.user.nom }}
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="{{ path('app_logout') }}">
                                                    <i class="ti-power-off"></i>
                                                    <span>Déconnexion</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# FIN EN TETE #}


    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Bonjour, <span>Bienvenue sur AppStock</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('accueil')}}">Dashboard</a></li>
                                    <li class="breadcrumb-item active">{% block head %}Home{% endblock %}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-user color-primary border-primary"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Utilissateurs</div>
                                        <div class="stat-digit">4</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-view-list-alt color-warning"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Catégories</div>
                                        <div class="stat-digit">4</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-layout-grid4-alt color-success"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Produits</div>
                                        <div class="stat-digit">6</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="ti-link color-blue border-info"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">Entrées/Sorties</div>
                                        <div class="stat-digit">10</div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>

                </section>
                
            </div>
            {% block body %}

            {% endblock %}
        </div>
    </div>

    

    <!-- jquery vendor -->
    <script src="{{ asset('template/js/lib/jquery.min.js') }}"></script>
    <script src="{{ asset('template/js/lib/jquery.nanoscroller.min.js') }}"></script>
    <!-- nano scroller -->
    <script src="{{ asset('template/js/lib/menubar/sidebar.js') }}"></script>
    <script src="{{ asset('template/js/lib/preloader/pace.min.js') }}"></script>
    <!-- sidebar -->

    <script src="{{ asset('template/js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ asset('template/js/scripts.js') }}"></script>
    <!-- bootstrap -->

    <script src="{{ asset('template/js/lib/calendar-2/moment.latest.min.js') }}"></script>
    <script src="{{ asset('template/js/lib/calendar-2/pignose.calendar.min.js') }}"></script>
    <script src="{{ asset('template/js/lib/calendar-2/pignose.init.js') }}"></script>


    <script src="{{ asset('template/js/lib/weather/jquery.simpleWeather.min.js') }}"></script>
    <script src="{{ asset('template/js/lib/weather/weather-init.js') }}"></script>
    <script src="{{ asset('template/js/lib/circle-progress/circle-progress.min.js') }}"></script>
    <script src="{{ asset('template/js/lib/circle-progress/circle-progress-init.js') }}"></script>
    <script src="{{ asset('template/js/lib/chartist/chartist.min.js') }}"></script>
    <script src="{{ asset('template/js/lib/sparklinechart/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('template/js/lib/sparklinechart/sparkline.init.js') }}"></script>
    <script src="{{ asset('template/js/lib/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('template/js/lib/owl-carousel/owl.carousel-init.js') }}"></script>
    <!-- scripit init-->
    <script src="{{ asset('template/js/dashboard2.js') }}"></script>
    
    </body>
</html>
